@font-face{
    font-family : 'Gilroy';
    src : url('../public/Gilroy.otf') format('opentype')
}
@font-face{
    font-family : 'Gilroy-Light';
    src : url('../public/Gilroy-Light.otf') format('opentype')
}

.button{
    display : block;
    transition: all 0.2s;

    font-family: 'Gilroy';
    font-size: 3vmin;
    letter-spacing: 0.2vmin;
    color: #fffefb;

    margin : 3vmin auto;
    background-color: transparent;
    border : none;
    border-radius: 4vmin;
    box-shadow: 0px 0px 2ch rgba(0, 0, 0, 0.4);

    width : 30vmin;
    height : 8vmin;
}
.button:hover{
    color: #222733;
    background-color: #fffefb;
    box-shadow: 0px 0px 2ch rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
    cursor: pointer;
}


.drawpage{
    background-color: #202632;
    width: 100vw;
    height: 100vh;
}


.palette{
    display : flex;
    flex-direction: row;
    width : 90vmin;
    height : 10vmin;
    margin : 6vmin auto;
    justify-content: space-between;
}
.colorchip{
    transition : all 0.2s;
    cursor: pointer;
    height: min(8vw, 8vh);
    width: min(8vw, 8vh);
    border-radius : 50% 50% 50% 50%;
    margin : auto;
}
.red{
    background-color: #ff4141;
}
.orange{
    background-color: #fc6404;
}
.yellow{
    background-color: #fcd444;
}
.green{
    background-color: #029658;
}
.blue{
    background-color: #5B8DE1;
}
.purple{
    background-color: #a069e5;
}
.brown{
    background-color: #977857;
}
.white{
    background-color: #fffefb;
}
.black{
    background-color: #1f1f1f;
}
.clicked{
    transition : all 0.2s;
    cursor: pointer;
    height: 10vmin;
    width: 10vmin;
    border-radius : 50% 50% 50% 50%;
}



.canvas{
    display : flex;
    flex-direction: column;
    align-items: center;
    width : min(50vw, 50vh);
    height: min(50vw, 50vh);
    margin : 3vmin auto;
}
.pixels{
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction: row;

}
.pixel{
    width : 100%;
}
.pixel:hover{
    box-shadow: inset 0px 0px 2ch rgba(0, 0, 0, 0.4);
}
.pixel.top-left{
    border-radius : 30% 0 0 0;
}
.pixel.top-right{
    border-radius : 0 30% 0 0;
}
.pixel.bottom-left{
    border-radius : 0 0 0 30%;
}
.pixel.bottom-right{
    border-radius : 0 0 30% 0;
}