.img_main{
    object-fit: cover;
    width: 35vmin;
    height: 35vmin;
    padding : 0 0 5vmin 0;
}
.img_warning{
    transition: all 0.2s;

    object-fit: cover;
    width: 6vw;
    height: 6vw;
    padding : 0 0.5vw;
}
.img_logotxt{
    transition: all 0.2s;
    
    object-fit: cover;
    height: 5vh;

}
.tomain{
    margin : 9vh auto 3vh;
}
