.universepage{
    background-color: #202632;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width : 100vw;
    height : max(100%,100vh);
}
.small{
    height : 100vh;
}

.item_list{
    width : 67vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    background-color: #202632;
}
.item_all{
    width : 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 3vw 0 5vw 0;
    background-color: #202632;
}